@model List<aspNetCore8Mvc_Ecommerce1.ViewModels.HangHoaVM>
<h3 class="mb-4"> Có @Model.Count sản phẩm</h3>
@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-6 col-xl-4">
        <a asp-controller="HangHoa" asp-action="Detail" asp-route-id="@item.MaHh">
            <div class="rounded position-relative fruite-item">
                <div class="fruite-img">
                    <img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Loai.TenLoai</div>
                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                    <h4>@item.TenHh</h4>
                    <p>@item.MoTaDonVi</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        @if (item.GiamGia > 0)
                        {
                            <p class="text-dark fs-5 fw-bold mb-0">
                                <span class="text-decoration-line-through text-muted me-2">$@item.DonGia</span>
                                <span class="text-danger">$@(item.GiaDaGiam)</span>
                            </p>
                        }
                        else
                        {
                            <p class="text-dark fs-5 fw-bold mb-0">$@item.DonGia</p>
                        }
                        <a href="#" class="addToCartBtn btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i>Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addToCartBtns = document.querySelectorAll('.addToCartBtn');

        addToCartBtns.forEach(function (btn) {
            btn.addEventListener('click', function (event) {
                event.preventDefault(); // Ngăn chuyển trang khi click vào nút "Thêm vào giỏ"
                event.stopPropagation(); // Ngăn sự kiện click không lan ra thẻ <a> bên ngoài

                // Thêm logic thêm vào giỏ hàng tại đây
                console.log('Đã thêm vào giỏ hàng');
            });
        });
    });
</script>